.button {
  background-color: lightgrey;
  flex-direction: row;
  height: 390px;
  width: 100%;
}

.box {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: auto;
  margin-top: 20px;
  width: 700px;
  border-style: solid;
  border-color: gray;
}

.display {
  background-color: rgb(83, 79, 79);
  height: 100%;
  width: 100%;
}
.result {
  float: right;
  font-size: 40px;
  font-weight: bolder;
  color: white;
}
