.panel {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 700px;
}

.yellow {
  background-color: lightgrey;
}

.panel .yellow {
  background-color: orangered;
}

.panel .yellow:hover {
  background-color: green;
}

.panel .yellow:active {
  background-color: orangered;
}

.light-gray {
  background-color: lightgrey;
}

.light-gray:hover {
  background-color: orange;
}

.panel .light-gray:active {
  background-color: orangered;
}

.fifty-percent {
  width: 50%;
}

.group {
  display: flex;
  height: 100px;
  width: 100%;
}

.twenty-five-percent {
  width: 25%;
}
